table {
  border-collapse: collapse;
  width: 100%;
}

td {
  border: 1px solid #000000;
}

.checked {
  background-color: green;
}

.date, .slot-1 {
  position: absolute;
  left: 25%;
  top: 25%;
}

.date {
  width: 50%;
  text-align: center;
}

.slot-1 {
  border-radius: 50%;
}

.day, .open-day {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.slot {
  width: 45%;
  display: inline-block;
  border: 1px solid red;
}
