table {
  border-collapse: collapse;
}

td {
  border: 1px solid #000000;
  width: 50px;
}

.checked {
  background-color: green;
}

.date, .slot-1 {
  position: absolute;
  left: 25%;
  top: 25%;
}


.day, .open-day {
  flex-wrap: wrap;
  position:relative;
}

.slot {
  width: 50%;
  display: inline-block;
}
